.client-form {
    margin-left: 18px;
    margin-bottom: 50px;
  }
  
  img{
    height: 280px;
  }
  
  .item-shopping-cart{
    margin-bottom: 20px;
    margin-left: 18px;
    margin-right: 18px;
  }