p{
    margin-top: 10px;
    margin-left:50px ;
    color: lightslategrey;
  }
  mat-card{
    max-width: 600px;
    margin-top: 50px;
    padding: 25px;
  }
  
  mat-form-field{
    margin-top: 10px;
  }
  
  button{
    margin-top: 20px;
  }