table {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    flex: 1;
    width: 93%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  h2{
    margin-top: 10px;
    margin-left:50px ;
    color: lightslategrey;
  }