<div fxFlexAlign="center" fxFlex  class="container">
    <h2>Pedidos</h2>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- numero Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>
  
      <!-- qtdItens Column -->
      <ng-container matColumnDef="qtdItens">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade</th>
        <td mat-cell *matCellDef="let element"> {{element.qtdItens}} </td>
      </ng-container>
  
      <!-- valorFrete Column -->
      <ng-container matColumnDef="valorFrete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Frete</th>
        <td mat-cell *matCellDef="let element"> {{element.valorFrete | currency:'BRL':true}} </td>
      </ng-container>
  
      <!-- valorTotal Column -->
      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total</th>
        <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency:'BRL':true}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>